<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="https://cdn.staticfile.org/amazeui/2.7.2/css/amazeui.min.css" />
    <link rel="stylesheet" href="assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="assets/css/app.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

</head>

<body data-type="widgets">
    <script src="assets/js/theme.js"></script>
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <header>
            <!-- logo -->
            <div class="am-fl tpl-header-logo">
                <a href="javascript:;"><img src="assets/img/logo.png" alt=""></a>
            </div>
            <!-- 右侧内容 -->
            <div class="tpl-header-fluid">
                <!-- 侧边切换 -->
                <div class="am-fl tpl-header-switch-button am-icon-list">
                    <span>

                </span>
                </div>
                <!-- 搜索 -->
                <div class="am-fl tpl-header-search">
                    <form class="tpl-header-search-form" action="javascript:;">
                        <button class="tpl-header-search-btn am-icon-search"></button>
                        <input class="tpl-header-search-box" type="text" placeholder="搜索内容...">
                    </form>
                </div>
                <!-- 其它功能-->
                <div class="am-fr tpl-header-navbar">
                    <ul>
                        <!-- 欢迎语 -->
                        <li class="am-text-sm tpl-header-navbar-welcome">
                            <a href="javascript:;">欢迎你, <span>管理员</span> </a>
                        </li>

                        <!-- 退出 -->
                        <li class="am-text-sm">
                            <a href="javascript:;">
                                <span class="am-icon-sign-out"></span> 退出
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </header>
        <!-- 风格切换 -->
        <div class="tpl-skiner">
            <div class="tpl-skiner-toggle am-icon-cog">
            </div>
            <div class="tpl-skiner-content">
                <div class="tpl-skiner-content-title">
                    选择主题
                </div>
                <div class="tpl-skiner-content-bar">
                    <span class="skiner-color skiner-white" data-color="theme-white"></span>
                    <span class="skiner-color skiner-black" data-color="theme-black"></span>
                </div>
            </div>
        </div>
        <!-- 侧边导航栏 -->
        <div class="left-sidebar">
            <!-- 用户信息 -->
            <div class="tpl-sidebar-user-panel">
                <div class="tpl-user-panel-slide-toggleable">
                    <div class="tpl-user-panel-profile-picture">
                        <img src="assets/img/user04.png" alt="">
                    </div>
                    <span class="user-panel-logged-in-text">
                        <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
                        管理员
                    </span>
                </div>
            </div>


            <!-- 菜单 -->
            <ul class="sidebar-nav">
                <li class="sidebar-nav-heading">Components <span class="sidebar-nav-heading-info"> 附加组件</span></li>
                <li class="sidebar-nav-link">
                    <a href="a_index.html">
                        <i class="am-icon-home sidebar-nav-link-logo"></i> 文章列表
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="a_links.html">
                        <i class="am-icon-table sidebar-nav-link-logo"></i> 外部链接
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="a_edit.html">
                        <i class="am-icon-wpforms sidebar-nav-link-logo"></i> 文章编辑
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="a_focus.html">
                        <i class="am-icon-bar-chart sidebar-nav-link-logo"></i> 图片轮播
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="a_navi.html" class="active">
                        <i class="am-icon-bar-chart sidebar-nav-link-logo"></i> 导航菜单
                    </a>
                </li>
            </ul>
        </div>



        <!-- 内容区域 -->
        <div class="tpl-content-wrapper">

            <div class="container-fluid am-cf">
                <div class="row">
                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-9">
                        <div class="page-header-heading"><span class="am-icon-home page-header-heading-icon"></span> 导航菜单 <small>Amaze UI</small></div>
                        <p class="page-header-description">编辑导航菜单</p>
                    </div>
                    <div class="am-u-lg-3 tpl-index-settings-button">
                    </div>
                </div>

            </div>

            <div class="row-content am-cf">


                <div class="row">

                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">添加导航菜单</div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:;" class="am-icon-cog"></a>
                                </div>
                            </div>
                            <div class="widget-body am-fr">

                                <form class="am-form tpl-form-border-form tpl-form-border-br">
                                    <div class="am-form-group">
                                        <label for="user-name" class="am-u-sm-3 am-form-label">导航标题 <span
                                                    class="tpl-form-line-small-title">Title</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" name="name" class="tpl-form-input" id="title" placeholder="请输入导航标题" value="">
                                            <small>请填写导航标题,不超过30个字。</small>
                                        </div>
                                    </div>

                                    <!-- <div class="am-form-group">
                                        <label class="am-u-sm-3 am-form-label">链接地址 <span
                                                        class="tpl-form-line-small-title">Url</span></label>
                                        <div class="am-u-sm-9">
                                            <input type="text" name="url" id='url' placeholder='请输入链接URL' value="">
                                        </div>
                                    </div> -->

                                    <!-- <div class="am-form-group">
                                        <label for="user-phone" class="am-u-sm-3 am-form-label">导航分类 <span class="tpl-form-line-small-title">Classfy</span></label>
                                        <div class="am-u-sm-9">
                                            <select class="selectpicker" data-hide-disabled="true">

                                                    {% for item in classes %}
                                                        <option>{{item.name}}</option> 
                                                    {% end %}

                                            </select>
                                        </div>
                                    </div> -->

                                    <div class="am-form-group">
                                        <div class="am-u-sm-9 am-u-sm-push-3">
                                            <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success " onclick="submitAction()">提交</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                        <div class="widget am-cf">
                            <div class="widget-head am-cf">
                                <div class="widget-title am-fl">导航菜单列表</div>
                                <div class="widget-function am-fr">
                                    <a href="javascript:;" class="am-icon-cog"></a>
                                </div>
                            </div>
                            <div class="widget-body  widget-body-lg am-fr">

                                <table width="100%" class="am-table am-table-compact tpl-table-black " id="example-r">
                                    <thead>
                                        <tr>
                                            <th>导航标题</th>
                                            <!-- <th>导航分类</th> -->
                                            <th>添加时间</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for item in list %}
                                        <tr class="gradeX">
                                            <td>
                                                <a href="{{ item.link }}" target="_brank"> {{ item.name }} </a>
                                            </td>
                                            <!-- <td>{{ item.super_title() }}</td> -->
                                            <td>{{ item.create_date }}</td>
                                            <td>
                                                <div class="tpl-table-black-operation">
                                                    <a href="delete_navi_item?id={{ item.id }}" class="tpl-table-black-operation-del">
                                                        <i class="am-icon-trash"></i> 删除
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        {% end %}
                                        <!-- more data -->
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>




                </div>

            </div>
        </div>
    </div>
    </div>
    <script src="https://cdn.staticfile.org/amazeui/2.7.2/js/amazeui.min.js"></script>
    <script src="assets/js/amazeui.datatables.min.js"></script>
    <script src="assets/js/dataTables.responsive.min.js"></script>
    <script src="assets/js/app.js"></script>

    <script>
        function submitAction() {

            var title = document.getElementById("title").value;
            // var url = document.getElementById('url').value;
            // var classify = $(".selectpicker").val()

            if (title == "") {
                alert("请输入轮播标题~");
                return
            }
            // if (url == '') {
            //     alert("请输入轮播跳转地址~");
            //     return
            // }

            var params = {
                'name': title,
                // 'url': url,
                // 'classify': classify
            }

            $.ajax({
                type: "POST",
                url: "add_navi",
                data: params,
                success: function(msg) {
                    if (msg == '保存成功') {
                        window.location.href = "a_navi.html"
                    } else {
                        alert(msg)
                    }
                }
            });
        }
    </script>

</body>

</html>