{% extends "base.html" %} 

{% block head %}


{% end %}

{% block body %}

<div class="artSortList-left lph-left">
    <div class="asl-title clr">
        <h3>{{keyword}}</h3>
    </div>
    <div class="lph-pageList index-pageList">
        <div class="wrap">
            <ul>
                {% for item in articles %}

                <li class="pbox clr">
                    <div class="img">
                        <a class="sort" href="/classes?keyword={{ item.classify }}" target="_blank">{{item.classify}}</a>
                        <a href="article?id={{ item.id }}" target="_blank">
                            <img alt="{{item.title}}" class="lazy" data-original="{{ item.thumbnail }}" src="/resources/images/nopic.gif" title="{{item.title}}" width="210" height="140">
                        </a>
                    </div>
                    <div class="word">
                        <a href="article?id={{ item.id }}" target="_blank">
                            <h2>{{item.title}}</h2>
                        </a>
                        <div class="des">
                            {{ item.sub_title }}
                        </div>
                        
                        <div class="info">
                            <div class="tags">
                                <i></i> 
                                <em title="0">[110]</em>
                                {% for tag in item.tags() %}
                                    <a href="/tags?keyword={{ tag }}">{{tag}}</a>
                                {% end %}
                            </div>
                            <div class="time"><i></i> <span> {{item.createtime}} </span></div>
                            <div class="aut">
                                <a href="" target="_blank">
                                    <span>{{ item.author }}</span> 
                                </a>
                            </div>
                        </div>
                    </div>
                </li>

                {% end %}


            </ul>
        </div>
    </div>

    {% if tol_page >= cur_page and tol_page > 1 %}

        <div class="lph-paging1 clr">

            <a href="{{baseUrl}}"><span class="page">‹‹</span></a>

            {% for ipage in range(1,tol_page+1) %}
                {% if ipage == cur_page %}
                    <span class="page now-page">{{ipage}}</span>
                {% else %}
                    <a href="{{baseUrl+"&page="+str(ipage)}}"><span class="page">{{ipage}}</span></a>
                {% end %}
            {% end %}

            {% if tol_page == cur_page %}
                <span class="now-page">›</span>
                <span class="now-page">››</span>
            {% else %}
                <a href="{{baseUrl+"&page="+str(cur_page+1)}}"><span class="page">›</span></a>
                <a href="{{baseUrl+"&page="+str(tol_page)}}"><span class="page">››</span></a>
            {% end %}

        </div>

    {% end %}

</div>




{% end %}

{% block bottom %}


{% end %}